.customSizedUpload {
  .ant-upload {
    width: 71px !important;
    height: 71px !important;
  }
  .ant-upload-list-item-container {
    width: 71px !important;
    height: 71px !important;
  }
}

.ant-notification-notice-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background: linear-gradient(
    90deg,
    #03380a 0%,
    #04450d 32%,
    #065710 65.5%,
    #076612 100%
  ) !important;
  border-color: #065710 !important;
}

@media (max-width: 648px) {
  .ant-picker-panels {
    position: relative;
    > *:last-child {
      .ant-picker-date-panel {
        width: auto;
      }
      .ant-picker-week-panel {
        width: auto;
      }
      .ant-picker-month-panel {
        width: auto;
      }
      .ant-picker-quarter-panel {
        width: auto;
      }
      .ant-picker-year-panel {
        width: auto;
      }
      .ant-picker-header-view,
      .ant-picker-body {
        display: none;
      }
      .ant-picker-header {
        border: none;
        position: absolute;
        right: 0;
        height: 40px;
      }
    }
  }
}
